body {
    margin: 0;
    padding: 0;
}

a, a:hover {
	text-decoration: none;
	color: #787878;
}

a:hover {
	background-color: #EAEAEA;
	padding: 0 20px;
	transition: 1s;
}

.big-box {
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.big-box-login {
	display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#login-form {
	margin-left: 50px;
}

h6 {
	color: red;
	margin-top: 20px;
}

.menu {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.menu h3 {
	margin: 20px;
}

#menu-pengguna-dropdown, #menu-transaksi-dropdown {
	display: none;
}

h2 {
	text-align: center;
}

h4 {
	text-align: right;
	color: #454545;
}

.nav {
	float: right;
}