{% extends 'base.html' %}   
{% block content %} 
<h2>Riwayat Transaksi</h2>
<h4>Tipe : FEE [SEWA/FEE]</h4>
<table class="table">
	<thead>
		<tr>
			<th>Tanggal Terima</th>
			<th>Nomor Pelanggan</th>
			<th>ID Lukisan</th>
			<th>Jumlah Disewa</th>
			<th>Harga Lukisan</th>
			<th>Total Fee</th>
		</tr>
	</thead>
	<tbody>
		{% for fee in data_fee %}
			<tr>
				<td>{{ fee.tgl_terima }}</td>
				<td>{{ fee.id_pelanggan }}</td>
				<td>{{ fee.id_lukisan }}</td>
				<td>{{ fee.banyaknya }}</td>
				<td>{{ fee.harga }}</td>
				<td>{{ fee.jumlah }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}    