{% extends 'base.html' %}   
{% block content %} 
<div class="big-box">
	<h1>Halo Staff dengan ID = {{ no_staff }}!</h1>
	<br>
    <h1>Ingin melihat apa?</h1>
    <div class="menu">
    	<div id="menu-pengguna">
	    	<h3><a href="#">Pengguna</a></h3>
	    	<div id="menu-pengguna-dropdown">
	    		<h3><a href="/penyewa/">Penyewa</a></h3>
	    		<h3><a href="/pemilik/">Pemilik</a></h3>
	    		<h3><a href="/staff/">Staff</a></h3>
	    	</div>
	    </div>
		<h3><a href="/lukisan/">Lukisan</a></h3>
		<div id="menu-transaksi">
			<h3><a href="#">Transaksi</a></h3>
			<div id="menu-transaksi-dropdown">
	    		<h3><a href="/transaksi/">Sewa</a></h3>
	    		<h3><a href="/fee/">Fee</a></h3>
	    		<h3><a href="/mitra/">Mitra</a></h3>
	    	</div>
		</div>
		<h3><a href="#">Laporan</a></h3>
	</div>
</div>
{% endblock %}    