{% extends 'base.html' %}   
{% block content %} 
<h2>Daftar Lukisan</h2>
<table class="table">
	<thead>
		<tr>
			<th>ID Lukisan</th>
			<th>Nama Lukisan</th>
			<th>Tema Lukisan</th>
			<th>Harga / Bulan</th>
			<th>Tahun</th>
			<th>ID Pemilik</th>
		</tr>
	</thead>
	<tbody>
		{% for lukisan in data_lukisan %}
			<tr>
				<td>{{ lukisan.id_lukisan }}</td>
				<td>{{ lukisan.nama_lukisan }}</td>
				<td>{{ lukisan.tema_lukisan }}</td>
				<td>{{ lukisan.harga }}</td>
				<td>{{ lukisan.tahun }}</td>
				<td>{{ lukisan.id_pelanggan }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}    