{% extends 'base.html' %}   
{% block content %} 
<h2>Daftar Mitra Bank</h2>
<table class="table">
	<thead>
		<tr>
			<th>Kode</th>
			<th>Nama Bank</th>
		</tr>
	</thead>
	<tbody>
		{% for mitra in data_mitra %}
			<tr>
				<td>{{ mitra.kode_bank }}</td>
				<td>{{ mitra.nama_bank }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}    