{% extends 'base.html' %}   
{% block content %} 
<h2>Daftar Pemilik</h2>
<table class="table">
	<thead>
		<tr>
			<th>ID Pelanggan</th>
			<th>Nomor KTP</th>
			<th>Nama</th>
			<th>Alamat</th>
			<th>Tanggal Lahir</th>
			<th>No.HP</th>
			<th>Email</th>
			<th>Nomor Rekening</th>
			<th>Nama Bank</th>
		</tr>
	</thead>
	<tbody>
		{% for pemilik in data_pemilik %}
			<tr>
				<td>{{ pemilik.id_pelanggan }}</td>
				<td>{{ pemilik.no_ktp }}</td>
				<td>{{ pemilik.nama }}</td>
				<td>{{ pemilik.alamat }}</td>
				<td>{{ pemilik.ttl }}</td>
				<td>{{ pemilik.no_hp }}</td>
				<td>{{ pemilik.email }}</td>
				<td>{{ pemilik.no_rek }}</td>
				<td>{{ pemilik.nama_bank }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}    