{% extends 'base.html' %}   
{% block content %} 
<h2>Daftar Penyewa</h2>
<table class="table">
	<thead>
		<tr>
			<th>ID Pelanggan</th>
			<th>Nomor KTP</th>
			<th>Nama</th>
			<th>Alamat</th>
			<th>Tanggal Lahir</th>
			<th>No.HP</th>
			<th>Email</th>
			<th>Pekerjaan</th>
			<th>Kategori</th>
		</tr>
	</thead>
	<tbody>
		{% for penyewa in data_penyewa %}
			<tr>
				<td>{{ penyewa.id_pelanggan }}</td>
				<td>{{ penyewa.no_ktp }}</td>
				<td>{{ penyewa.nama }}</td>
				<td>{{ penyewa.alamat }}</td>
				<td>{{ penyewa.ttl }}</td>
				<td>{{ penyewa.no_hp }}</td>
				<td>{{ penyewa.email }}</td>
				<td>{{ penyewa.pekerjaan }}</td>
				<td>{{ penyewa.kategori }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}    