{% extends 'base.html' %}   
{% block content %} 
<h2>Daftar Staff</h2>
<table class="table">
	<thead>
		<tr>
			<th>Nomor Staff</th>
			<th>Nama</th>
			<th>Tanggal Lahir</th>
			<th>No.HP</th>
			<th>Email</th>
			<th>Lulusan</th>
		</tr>
	</thead>
	<tbody>
		{% for staff in data_staff %}
			<tr>
				<td>{{ staff.no_staff }}</td>
				<td>{{ staff.nama }}</td>
				<td>{{ staff.ttl }}</td>
				<td>{{ staff.no_hp }}</td>
				<td>{{ staff.email }}</td>
				<td>{{ staff.lulusan_staff }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}    