{% extends 'base.html' %}   
{% block content %} 
<h2>Riwayat Transaksi</h2>
<h4>Tipe : SEWA [SEWA/FEE]</h4>
<table class="table">
	<thead>
		<tr>
			<th>Tanggal Sewa</th>
			<th>Nomor Pelanggan</th>
			<th>Jumlah Lukisan</th>
			<th>ID Lukisan</th>
			<th>Tenor</th>
			<th>Lama Sewa</th>
			<th>Alamat Tujuan</th>
			<th>Ongkos Kirim</th>
			<th>Total Sewa</th>
			<th>Tanggal Kembali</th>
			<th>Pembayaran</th>
			<th>Nomor Staff</th>
		</tr>
	</thead>
	<tbody>
		{% for transaksi in data_transaksi %}
			<tr>
				<td>{{ transaksi.tgl_sewa }}</td>
				<td>{{ transaksi.id_pelanggan }}</td>
				<td>{{ transaksi.banyaknya }}</td>
				<td>{{ transaksi.id_lukisan }}</td>
				<td>{{ transaksi.tenor_pilihan }}</td>
				<td>{{ transaksi.lama_sewa }}</td>
				<td>{{ transaksi.alamat_tujuan }}</td>
				<td>{{ transaksi.ongkir }}</td>
				<td>{{ transaksi.total_biaya }}</td>
				<td>{{ transaksi.tgl_kembali }}</td>
				<td>{{ transaksi.nama_bank }}</td>
				<td>{{ transaksi.no_staff }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}    